<template>
  <nav>
    <h3>🖕🏾</h3>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/blog">blog</a></li>
    </ul>
  </nav>
</template>
<script>
export default {

}
</script>
<style scoped>
</style>
