<template>
  <div>
    <section class="hero is-dark is-fullheight is-bold">
      <div class="hero-body">
        <div class="container">
          <slot name="default" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import "bulma/css/bulma.css";
export default {
  props: ["page"],
  head() {
    const pageTitle = this.page.title;
    return {
      title: pageTitle ? `${pageTitle}` : this.$siteConfig.title,
    };
  },
  components: {
  },
};
</script>

<style></style>
