<template>
  <div>
    <section class="hero is-dark is-fullheight ">
      <div class="hero-body ">
        <div class="container">
          <div class="columns">
            <div class="column">
              <a href="/blog">←</a>
              <h1 class="title">{{ page.title }}</h1>
              <div class="subtitle">{{ page.date }}</div>
            </div>
            <div class="column">
              <div class="content">
                <slot name="default" />
              </div>
              <!--TODO: WIP TO TOP  -->
              <a href="">top</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// import NavigationMain from "../components/Navbar.vue";

export default {
  props: ["page"],
  head() {
    const pageTitle = this.page.title;
    return {
      title: pageTitle ? `${pageTitle} ` : this.$siteConfig.title,
    };
  },
  components: {
    // NavigationMain,
  },
};
</script>

<style></style>
