<template>
  <div class="columns">
    <div class="column">
      <a href="/">home</a>
      <h1 class="title">
        blog
      </h1>
    </div>
    <div class="column">
      <div class="columns">
        <div class="column is-narrow">
          <ul>
            <li v-for="post in page.posts" :key="post.permalink">
              {{ post.date }}
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li v-for="post in page.posts" :key="post.permalink">
              <a :href="post.permalink">{{ post.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export const data = {
  layout: "default",
  injectAllPosts: true,
  title: "blog",
};
export default {
  props: ["page"],
};
</script>

<style></style>
