<template>
  <section class="hero is-dark is-fullheight is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <ul>
                <li><a href="/project" >projects </a> </li>
                <li><a href="/blog">blog</a></li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title">
                hello
            </h1>
            <h2 class="subtitle">
              i'm tian 🙃
              <p>
                machine learning engineer from surabaya 🇮🇩
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import "bulma/css/bulma.css";
export default {
  name: "App",
  data() {
    return {
      judul: "svmihar",
    };
  },
};
export const data = {
  //   layout: "default",
  title: "home",
};
</script>
<style scoped>
/* h1 {
  color: white;
}
p {
  color: white;
} */
</style>
