<template>
  <div class="columns">
    <div class="column">
      <a href="/">home</a>
      <h1 class="title">
        project
      </h1>
    </div>
    <div class="column">
      <ul>
        <li><a href="/interactive-parallax">project 1</a></li>
        <li><a href="/transformers">project 2</a></li>
        <li>project 3</li>
      </ul>
    </div>
  </div>
</template>

<script>
export const data = {
  layout: "default",
  title: "projects",
};
export default {
  props: ["page"],
};
</script>

<style></style>
